.ParBox{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    background: #F4F5F8;
    padding: 10px;
    justify-content: space-around;
}


.IndBox{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 10px;
    width : 30vw;
    margin: 10px;
    /* padding: 10px; */
} 

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}

.title{
    font-size: bold;
    margin: 5px;
}

.dotdot{
    position: relative;
}

